
h1 {
  font-size: 34px;
}
h2 {
  font-size: 22px;
}

.logotype {
  margin-top: 3em;
  &.sticky {
    position: fixed;
  }
}

.search-services {
  ul {
    padding-left: 0px;
    list-style: none;
    li {
      margin-bottom: 0.5em;
      a {
        display: block;
      }
    }
  }
}
.social-media {
  ul {
    list-style: none;
    padding-left: 0px;
    i {
      color: black;
    }
  }
}

.contact {
  dt {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }
}